body
{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3
{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.container-fluid
{

}

.jumbotron-fluid
{
}

.container
{

}

header .bg-img
{
  background-image: url(../img/bg-electro.png);
}

.picto
{
  font-size: 2em;
  color: #e84997;
  text-align: center;
}
