body
{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3
{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.container-fluid
{

}

.jumbotron-fluid
{
}

.container
{

}

header .bg-img
{
  background-image: url(../img/bg-electro.png);
}

.features-icons
{
  padding-top: 7em;
  padding-bottom: 7em;
}

.features-icons .features-icons-item
{
  max-width: 20em;
}

.features-icons .features-icons-item .features-icons-icon
{
  height: 7em;
}

.features-icons .features-icons-item .features-icons-icon i
{
  font-size: 4.5em;
}

.features-icons .features-icons-item:hover .features-icons-icon i
{
  font-size: 5em;
}

.opacity
{
  opacity: 0.5;
}

.btn
{
  text-align: center;
}

.features-icons
{
  font-size: 150px;
  color: green;
}
